<html>
<style>
    body {
        font-family:Verdana,sans-serif;font-size:0.8em;
    }
    div#header,div#content {
        border:1px solid grey;
        margin:5px;margin-bottom:15px;padding:8px;
        background-color:white;
}
    div#header {
        color:white;background-color:#444;margin-bottom:5px;
    }
    div#content {
        background-color:#ddd;
    }
</style>
  <header>
    {% block title %}<title> Agencia de viajes </title> {% endblock %}
  </header>
  <body>
    <div id="header">
        {% block title2 %}
            <h1>Agencia de viajes</h1>
        {% endblock %}
    </div>

    <div id="content">
        {% block subtitle %}{% endblock %}

        {% block body %}{% endblock %}
    </div>
  </body>
</html>
