{% extends "base.html" %}

{% block subtitle %}
  <h2> Detalles del viaje {{viajeEspecifico.destino}}:</h2>
{% endblock %}

{% block body %}
  <ul>
      <p><li>Destino: {{ viajeEspecifico.destino }}</li></p>
      <p>Días: {{ viajeEspecifico.dias }}</p>
      <p>Precio: {{ viajeEspecifico.precio }}</p>
      <p>Medio de desplazamiento: {{ viajeEspecifico.desplazamiento }}</p>
      <input type="button" value="Atrás" onclick="location.reload();location.href='/viaje'"/>
      <input type="button" value="Editar viaje" onclick="location.reload();location.href='/editarViaje/{{ viajeEspecifico.id }}'"/>
  </ul>
{% endblock %}
