{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<link rel='stylesheet' href='{{STATIC_URL}}css/jugar.css'>
	<table id='menu2'>
	  <tr>
		  <td><a href='/jugar/clasificacion'>Clasificación</a></td>
		  <td><a href='/jugar/equipo'>Mi Equipo</a></td>
		  <td><a href='/jugar/fichajes'>Mercado De Fichajes</a></td>
		  <td><a href='/jugar/buscar'>Buscar un Jugador</a></td>
      	 </tr>
      	 <tr>
      	 {% for dato in lista %}
		  <td><b>Nombre del Equipo </b> {{dato.nombre}}</td>
		  <td><b>Puntos </b>: {{dato.puntos}}</td>
		  <td><b>Dinero </b>: {{dato.dinero}}</td>
	{% endfor %}
      	 </tr>
    	</table>


  <p>
	  Noticias de la Liga:
  </p>
	<ul>
	
	<div id="noticia">		
	  {% for dato in comentario %}
	  	{{dato.nombre}} escribió el {{dato.fecha}}: <br/>
	  	{{dato.texto}} 	
	  {% endfor %}
	</div>
	</ul>
{% endblock %}
